<%- include('partials/header.ejs') %> 

<h1 class="text-bg-primary col-6">James Reed blog manager</h1>
<% if (locals.catalogue.size !== 0) { %>
 <h2>Your Posts</h2>
 <ul class="list-group">
    <% catalogue.forEach(element => { %>
      <div class="row">
         <div class="col-6">
            <li class="list-group-item"><a href=<%= `/viewPost/${element.id}` %>><%= element.title %></a></li>
         </div>
         <div class="col-3">
            <form action="<%= `/delete/${element.id}` %>" method="post">
               <input type="submit" class="btn btn-danger" value="delete">
            </form>
         </div>
      </div>
    <% }) %>
 </ul>
<% }  %>
</main>
<script>
   document.querySelector("a[href='/']").classList.add("active");
</script>
</body>

<%- include('partials/footer.ejs') %> 
